<?xml version='1.0' encoding='utf-8'?>
<plugin id="org.ioniconline" version="0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>MyDemo</name><js-module name="MyDemo" src="www/MyDemo.js"><clobbers target="cordova.plugins.MyDemo" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="MyDemo"><param name="android-package" value="org.ioniconline.MyDemo" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/MyDemo.java" target-dir="src/org/ioniconline/MyDemo" /></platform></plugin>